[Unit]
Description=uWSGI for Saleor API
After=network.target
[Service]
User={un}
Restart=always
ExecStart={hd}/env/saleor/bin/uwsgi --master --emperor {hd}/env/saleor/vassals/prod.ini --uid {un} --gid www-data
[Install]
WantedBy=multi-user.target